{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "NONE",
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        }, {
          "username" : "support",
          "password" : "pwd",
          "roles" : [ "support" ]
        }, {
          "username" : "user",
          "password" : "pwd"
        } ]
      },
      "classPath" : [ ]
    },
    "icon" : null,
    "webFolder" : null,
    "langFolder" : "${webswing.rootDir}/lang",
    "homeDir" : "${user.dir}",
    "swingConfig" : null
  },
  "/javafx" : {
    "path" : "/javafx",
    "homeDir" : "${webswing.rootDir}/demo/ensemble8",
    "webFolder" : "",
    "langFolder" : "${webswing.rootDir}/lang",
    "icon" : "icon.png",
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "config" : null,
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "JavaFx Demo",
      "theme" : "Murrine",
      "directdraw" : false,
      "javaFx" : true,
      "debug" : true,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : null,
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : null,
        "mainClass" : "ensemble.EnsembleApp"
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "fontConfig" : { },
      "classPathEntries" : [ "lib/*.jar", "Ensemble8.jar" ],
      "allowedCorsOrigins" : [ ],
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "transparentFileSave" : true,
      "clearTransferDir" : true,
      "transparentFileOpen" : true
    }
  },
  "/checkers" : {
    "path" : "/checkers",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "langFolder" : "",
    "icon" : null,
    "security" : {
      "module" : "INHERITED",
      "classPath" : [ ],
      "config" : null,
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "Checkers",
      "theme" : "Murrine",
      "directdraw" : true,
      "javaFx" : true,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : null,
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : null,
        "mainClass" : null
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "test.jar" ],
      "allowedCorsOrigins" : [ ],
      "goodbyeUrl" : "",
      "transferDir" : "${user}/upload",
      "transparentFileOpen" : true,
      "clearTransferDir" : true,
      "transparentFileSave" : true
    }
  },
  "/calendartest" : {
    "path" : "/calendartest",
    "enabled" : true,
    "homeDir" : "${user.dir}",
    "webFolder" : "",
    "langFolder" : "",
    "icon" : null,
    "security" : {
      "module" : "NONE",
      "classPath" : [ ],
      "config" : null,
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "autoLogout" : true,
      "name" : "calendartest",
      "theme" : "Murrine",
      "directdraw" : true,
      "javaFx" : false,
      "debug" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "${java.version}",
      "vmArgs" : null,
      "launcherType" : "Desktop",
      "launcherConfig" : {
        "args" : null,
        "mainClass" : "calendar.StartMenu"
      },
      "maxClients" : 1,
      "sessionMode" : "CONTINUE_FOR_BROWSER",
      "swingSessionTimeout" : 300,
      "timeoutIfInactive" : false,
      "monitorEdtEnabled" : true,
      "allowStealSession" : true,
      "allowDelete" : true,
      "allowAutoDownload" : true,
      "uploadMaxSize" : 5,
      "allowJsLink" : true,
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "fontConfig" : { },
      "classPathEntries" : [ "${webswing.rootDir}/demo/Calendar/lib/mysql-connector-java-5.1.39-bin.jar", "${webswing.rootDir}/demo/Calendar/src" ],
      "allowedCorsOrigins" : [ ],
      "transferDir" : "${user}/upload",
      "goodbyeUrl" : "",
      "clearTransferDir" : true,
      "transparentFileOpen" : true,
      "transparentFileSave" : true
    }
  }
}